[[set . "title" "Go Talks - Make, Share and Find awesome ideas"]]
[[template "header.tpl" .]]
[[template "navbar.tpl" .]]

<div style="padding-top: 10px;">
	<div class="container" style="background-color: transparent;">
		<div>
			<h1 style="font-size: 60px; margin-bottom: 0px;">
				Go Talks
				<small>Make, Share and Find awesome ideas</small>
			</h1>
			<p class="description">
				Go Talks is an online community for making and sharing <a target="_blank" href="http://gowalker.org/code.google.com/p/go.talks/pkg/present">go.talks</a> presentations with your awesome ideas.
			</p>
			<a href="/edit" class="btn btn-primary">
		        <i class="icon-edit icon-white"></i>
		        Launch the Editor
	      	</a>
	      	<a href="/talks" class="btn btn-success">
		        <i class="icon-th icon-white"></i>
		        Browse Talks
	      	</a>
		</div>

		<div class="row" style="padding-top: 10px;">
			<div class="span4">
				<h4>Community goals</h4>
				<ul>
					<li>
						<strong>Make</strong>
						: Record your ideas and make them into talks. 
					</li>

					<li>
						<strong>Share</strong>
						: Share and open mind to more people all around the world.
					</li>

					<li>
						<strong>Find</strong>
						: Find awesome stuff you may fall in love with. 
					</li>
				</ul>
			</div>

			<div class="span6">
				<h4>Features</h4>
				<ul>
					<li>
						Simple syntax to make amazing presentations.
					</li>

					<li>
						Able to write presentations with Markdown as your please.
					</li>

					<li>
						Ease use online editor to develop your ideas on the fly.
					</li>

					<li>
						Forking, commenting and sharing of Talks.
					</li>

					<li>
						No need for renting a VPS or web hosting, upload or create just few steps.
					</li>
				</ul>
			</div>
		</div>

		<div class="page-header">
			<h1>Ideas that have been creating are likely to blow your mind.</h1>
		</div>
	</div>

</div>

[[template "footer.tpl" .]]
